#contato {
   padding: 150px 125px 135px;
   text-align: center;
}

#contato p {
   font-size: 1.5rem;
}

.contato-icons {
   display: flex;
   flex-wrap: nowrap;
   margin-top: 30px;
   justify-content: center;
   align-items: center;
   gap: 22px;
}

.contato-icons img {
   transition: transform 0.2s ease;
}

.contato-icons img:hover {
   transform: scale(1.18);
}

.email {
   background: var(--headers);
   color: var(--darkbg);
   padding: 2px 4px;
   transition: all 0.3s ease;
}

.email:hover {
   background-color: var(--blue);
}