#contato {
   padding: 120px 80px 135px;
   text-align: center;
}

#contato h1 {
   margin-bottom: 15px;
}

#contato p {
   font-size: 1.2rem;
   margin-top: 10px;
}

.contato-icons {
   display: flex;
   flex-wrap: nowrap;
   margin-top: 30px;
   justify-content: center;
   align-items: center;
   gap: 22px;
}

.contato-icons img {
   transition: transform 0.2s ease;
}

.contato-icons img:hover {
   transform: scale(1.15);
}

.email {
   color: var(--headers);
   padding: 0px 4px;
   transition: all 0.3s ease;
   border-bottom: 2px solid transparent;
}

.email::before {
   content: "↗";
   margin-right: 4px;
}

.email:hover {
   border-bottom: 2px solid var(--blue);
}
