* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --headers: #cdcdff;
   --darkbg: #161a27;
   --lightbg: #1b1f30;
   --blue: #90a0d9;
   --text: #b1b1d0;
}

@font-face {
   font-family: "Consolas";
   src: url("../fonts/consolas/consola.ttf");
   font-display: swap;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px rgb(61, 76, 82);
}

::-webkit-scrollbar-thumb {
   background: var(--headers);
   border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
   background: #808080;
}

.layout {
   max-width: 1400px;
   margin: 0 auto;
}

body {
   -webkit-font-smoothing: antialiased;
   font-family: "Readex Pro", sans-serif;
   background-color: var(--darkbg);
   position: relative;
}

img {
   max-width: 100%;
   display: block;
}

h1,
h2 {
   color: var(--headers);
}

h1 {
   font-size: 2.7rem;
   margin-bottom: 8px;
   line-height: 120%;
}

h2 {
   font-size: 1.7rem;
}

p {
   font-family: "Mulish", sans-serif;
   color: var(--text);
   font-size: 1.15rem;
   line-height: 155%;
   letter-spacing: 0.03rem;   
}

a {
   text-decoration: none;
}

.footer p {
   border-top: 1px solid rgba(255, 255, 255, 0.102);
   text-align: center;
   padding: 15px;
   margin: 0px 125px;
}

/* Animação ao Scroll */
.js-scroll {
   opacity: 0;
   transform: translateX(-30px);
   transition: 1s;
}

.js-scroll.ativo {
   opacity: 1;
   transform: translateX(0);
}

@media (max-width: 960px) {
   h1 {
      font-size: 2rem;
   }
   h2 {
      font-size: 1.4em;
   }
   p {
      font-size: 1.0625rem;
   }
   .down-arrow_container {
      margin: 20px auto 0px;
   }
   .down-arrow_container p {
      font-size: 1.1rem;
   }
   #home {
      padding: 90px 20px 60px;
      grid-template-columns: 1fr;
      height: auto;
      gap: 45px;
   }
   .home-desc {
      text-align: center;
   }
   .home-desc h2 {
      font-size: 1.4rem;
      text-align: center;
   }
   .home-img {
      height: auto;
   }
   .sobre-mim_container {
      grid-template-columns: 1fr;
      padding: 80px 20px;
      gap: 25px;
   }
   .sobre-mim_container h1 {
      margin-bottom: 8px;
   }
   .sobre-mim_img {
      width: 450px;
      height: 450px;
      object-fit: contain;
   }
   #projetos {
      padding: 80px 20px 50px;
   }
   .projeto-titulo {
      margin-bottom: 4px;
   }
   .projeto-desc {
      padding-right: 0;
   }
   .skills-container {
      padding: 80px 20px 75px;
      text-align: center;
      gap: 30px;
   }
   .skills-desc {
      min-height: 202px;
      max-width: 100%;
   }
   .skill {
      padding: 4px 18px;
   }
   #contato {
      padding: 90px 20px;
   }
   #contato p {
      line-height: 180%;
      font-size: 1.2rem;
   }
   .contato-icons {
      gap: 15px;
   }
   .contato-icons img {
      width: 52px;
   }
   .footer p {
      margin: 0px 20px;
      padding: 15px;
      font-size: 1rem;
   }
}
