#projetos {
   padding: 130px 100px 175px;
}

.projetos-header {
   text-align: center;
   margin-bottom: 50px;
}

.projetos-header h1 {
   margin-bottom: 8px;
}

.projetos-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 28px;
}

.projeto {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: 350px;
   flex-grow: 1;
   padding: 16px 21px 21px;
   background-color: var(--lightbg);
   border: 2px solid rgba(45, 53, 82, 0.5);
   transition: all 0.6s;
   border-radius: 4px;
}

.projeto:hover {
   border-color: var(--blue);
}

.projeto-titulo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 8px;
}

.projeto-desc {
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.tech-container {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   margin-top: 15px;
}

.tech {
   color: var(--darkbg);
   padding: 5px 10px;
   background: linear-gradient(var(--headers), #9898be);
   border-radius: 4px;
}
