#skills {
   background-color: var(--lightbg);
}

.skills-container {
   display: grid;
   justify-items: center;
   text-align: center;
   gap: 28px;
   padding: 135px 80px 175px;
}

.skill-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 24px;
}

.skill {
   display: grid;
   background-color: var(--darkbg);
   border: 2px solid rgba(45, 53, 82, 0.5);
   transition: all 0.6s;
   padding: 4px 18px 6px;
   border-radius: 4px;
}

.skill:hover {
   border-color: var(--blue);
}

.skills-desc {
   min-height: 152px;
   max-width: 75%;
}

.skill p {
   font-size: 1rem;
   color: var(--headers);
}
