#sobre-mim {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
   background-color: var(--lightbg);
   gap: 100px;
   padding: 125px;
}

#sobre-mim img {
   transition: all 0.3s ease;
   
}

#sobre-mim img:hover {
   transform: scale(1.02);
}